# Ignore Python compiled files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/
ENV/

# Ignore OpenCV build files
build/
*.so

# Ignore images directory
images/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore all images in the first miniproject folder
Images for first miniproject/*
Data/*